{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header-content %}
<link rel="stylesheet" href="/static/css/ImageCompare.css">
<link rel="stylesheet" href="http://cdn.static.runoob.com/libs/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="/static/js/ImageCompare.js"></script>

<!-- bootstrap-table -->
<link href="/static/css/bootstrap-table.css" rel="stylesheet">
<script src="/static/js/bootstrap-table.js"></script>

{{ script|safe }}
{% endblock %}

{% block panel %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <form class="form-inline" method="get">
      <label class="my-1 mr-2">图片1</label>
      <select class="custom-select my-1 mr-sm-2" name="img1_version">
        <option selected>{{ selected.0 }}</option>
        {% for v in versions %}
        <option value="{{ v }}">{{ v }}</option>
        {% endfor %}
      </select>

      <label class="my-1 mr-2">图片2</label>
      <select class="custom-select my-1 mr-sm-2" name="img2_version">
        <option selected>{{ selected.1 }}</option>
        {% for v in versions %}
        <option value="{{ v }}">{{ v }}</option>
        {% endfor %}
      </select>

      <select class="custom-select my-1 mr-sm-2" name="category">
        <option selected>{{ selected.2 }}</option>
        {% for r in resolutions %}
        <option value="{{ r }}">{{ r }}</option>
        {% endfor %}
      </select>
      <select id="number" class="custom-select my-1 mr-sm-2" name="number">
        <option selected>{{ selected.3 }}</option>
        {% for r in numbers %}
        <option value="{{ r }}">{{ r }}</option>
        {% endfor %}
      </select>
      <button id="new-submit" type="submit" class="btn btn-primary my-1">Submit</button>
    </form>
  </div>
    <form class="form-inline my-lg-0">
        <button class="btn btn-primary" style="float:right;margin-right:10px;" onclick="change_image('next')">下一张</button>
        <button class="btn btn-primary" style="float:right;margin-right:50px;" onclick="change_image('last')">上一张</button>
    </form>
    <form class="form-inline my-lg-0">
        <button type="button" class="btn btn-primary" style="float:right;margin-right:10px;" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">打分</button>
        <button type="button" class="btn btn-primary" style="float:right;margin-right:10px;" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">查看</button>
        <a href="/api/export/?proj={{ img2.project }}&ver={{ img2.version }}">
        <button type="button" class="btn btn-primary">导出</button>
        </a>
    </form>
    <iframe id="rfFrame" name="rfFrame" src="about:blank" style="display:none;"></iframe>
</nav>
{% endblock %}

{% block content %}
{% if img2 %}
<div class="collapse" id="collapseExample2">
    <div class="panel blank-panel modal-body">
        <table width="70%" align="center">
            <tr>
                <td width="45%" style="float: left;margin: 0px;padding: 0px;">
			<table data-toggle="table" data-url="/api/grade/{{ img1.id }}" >
                        <thead>
                        <tr>
                            <th data-field="version">
                                <div class="th-inner">Img1</div></th>
                            <th data-field="dem1">
                                <div class="th-inner">色调</div></th>
                            <th data-field="dem2">
                                <div class="th-inner">亮度</div></th>
                            <th data-field="dem3">
                                <div class="th-inner">内容</div></th>
                            <th data-field="dem4">
                                <div class="th-inner">噪声</div></th>
                            <th data-field="dem5">
                                <div class="th-inner">纹理</div></th>
                            <th data-field="avg">
                                <div class="th-inner">平均分</div></th>
                        </tr>
                        </thead>
                    </table>
                </td>
                <td width="45%" style="float: right;margin: 0px;padding: 0px;">
			<table data-toggle="table" data-url="/api/grade/{{ img2.id }}" >
                        <thead>
                        <tr>
                            <th data-field="version">
                                <div class="th-inner">Img2</div></th>
                            <th data-field="dem1">
                                <div class="th-inner">色调</div></th>
                            <th data-field="dem2">
                                <div class="th-inner">亮度</div></th>
                            <th data-field="dem3">
                                <div class="th-inner">内容</div></th>
                            <th data-field="dem4">
                                <div class="th-inner">噪声</div></th>
                            <th data-field="dem5">
                                <div class="th-inner">纹理</div></th>
                            <th data-field="avg">
                                <div class="th-inner">平均分</div></th>
                        </tr>
                        </thead>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</div>
<div class="collapse" id="collapseExample1">
      <div class="modal-body">
          <div style="float:left;margin-left:45%;">
        <form method="post" class="form">
          {% csrf_token %}
            <p><a href="#" data-toggle="tooltip" title="1-严重失真 2-轻微失真 3-不变 4-部分更鲜明 5-大都更鲜明"><span class="glyphicon glyphicon-question-sign"></span></a>
                {{ form.dem1.label }}   {{ form.dem1.0 }}  {{ form.dem1.1 }}  {{form.dem1.2}}  {{ form.dem1.3 }}  {{ form.dem1.4 }}  {{ form.dem1.5 }}</p>
            <p><a href="#" data-toggle="tooltip" title="1-严重失真 2-轻微失真 3-不变 4-部分更合适 5-大都更合适"><span class="glyphicon glyphicon-question-sign"></span></a>
                {{ form.dem2.label }}   {{ form.dem2.0 }}  {{ form.dem2.1 }}  {{form.dem2.2}}  {{ form.dem2.3 }}  {{ form.dem2.4 }}  {{ form.dem2.5 }}</p>
            <p><a href="#" data-toggle="tooltip" title="1-严重失真 2-轻微失真 3-不变 4-部分更清晰 5-大都更清晰"><span class="glyphicon glyphicon-question-sign"></span></a>
                {{ form.dem3.label }}   {{ form.dem3.0 }}  {{ form.dem3.1 }}  {{form.dem3.2}}  {{ form.dem3.3 }}  {{ form.dem3.4 }}  {{ form.dem3.5 }}</p>
            <p><a href="#" data-toggle="tooltip" title="1-显著增强 2-轻微增强 3-不变 4-被减弱 5-被消除"><span class="glyphicon glyphicon-question-sign"></span></a>
                {{ form.dem4.label }}   {{ form.dem4.0 }}  {{ form.dem4.1 }}  {{form.dem4.2}}  {{ form.dem4.3 }}  {{ form.dem4.4 }}  {{ form.dem4.5 }}</p>
            <p><a href="#" data-toggle="tooltip" title="1-显著被模糊或锐化过度 2-轻微被模糊或锐化过度 3-不变 4-部分更清晰 5-大都更清晰"><span class="glyphicon glyphicon-question-sign"></span></a>
                {{ form.dem5.label }}   {{ form.dem5.0 }}  {{ form.dem5.1 }}  {{form.dem5.2}}  {{ form.dem5.3 }}  {{ form.dem5.4 }}  {{ form.dem5.5 }}</p>
            <p><a href="#" data-toggle="tooltip"  title="评价"><span class="glyphicon glyphicon-question-sign"></span></a>
                {{ form.comment.label }}   {{ form.comment }}</p>
          {% buttons %}
          <button type="submit" class="btn btn-primary" name="img_id" value="{{ img2.id }}">
            Submit
          </button>
          {% endbuttons %}
        </form>
          </div>
      </div>
</div>
{% endif %}

<!-- image -->
{% if img2 %}
<div style="position: relative;text-align: center;">
    <button class="btn btn-primary" onclick="get_ssim()">SSIM</button>
    <span style="margin-right: 50px;"><input id="input" type="text" /></span>
    <span><b style="font-size: 18px;">是否优于上个版本：</b></span>
    <button class="btn btn-primary" onclick="test('1')">是</button>
    <button class="btn btn-primary" onclick="test('-1')">否</button>
</div>
<br>
<div id="demo" data-type="image-comparison" src1="{{ img2.s3_url }}" src2="{{ img1.s3_url }}"></div>
{% endif %}

<script>
	var imageComparisonContainers = $("[data-type='image-comparison']");
	imageComparisonContainers.each(function(){
        new ImageCompare($(this));
    });
</script>

<script>
    function change_image(txt){
        var se = document.getElementById("number");
        var index = se.selectedIndex;
        var value = se.options[index].value;
        var all_options = se.options;
        if (txt == 'next'){
            if (value == '20000'){
                alert("已经是最后一张图了!");
            }else{
                for (i=0; i< all_options.length; i++){
                    if (all_options[i].value == String(Number(value) + 1)){
                        all_options[i].selected = true;
                    }
                }
                document.getElementById("new-submit").click();
            }
        }else{
            if (value == '1' || value == '01'){
                alert("已经是第一张图了!");
            }else{
                for (i=0; i< all_options.length; i++){
                    if (all_options[i].value == String(Number(value) - 1)){
                        all_options[i].selected = true;
                    }
                }
                document.getElementById("new-submit").click();
            }
        }
        document.forms[1].target="rfFrame";
    }

    function get_ssim(){
        var p = document.getElementById("ssim");
        var ul = "/api/ssim?img1="+{{ img1.id }}+"&img2="+{{ img2.id }};
        $.ajax({
            url: ul,
            type: "get",
            dataType: "json",
            success: function(data){
                var ssim = document.getElementById("input");
                ssim.value = data.ssim;
            },
            error: function(data){
                alert("error");
            },
        });
    }
</script>

<script>
    function test(txt){
        alert("test");
        if (txt == '1'){
            var ul = "/api/evaluate/{{ img2.id }}?ifimproved=1";
        }else{
            var ul = "/api/evaluate/{{ img2.id }}?ifimproved=-1";
        }
        $.ajax({
            url: ul,
            dataType: "json",
            type: "get",
            success: function(data){
                alert(data);
            },
            error: function(data){
                alert("error");
            },
        });
    }
    <!--$(document).ready(function(){-->
        <!--$("#info1").mouseenter(function(event){-->
		    <!--var tooltipHtml = "<div id='tooltip'>Hello！</div>";-->
		    <!--$(this).append(tooltipHtml);-->
		    <!--$("#tooltip").css({-->
			    <!--"top": (event.pageY) + "px",-->
	            <!--"left": ($(this).width()) + "px"-->
	        <!--}).show();-->
	    <!--}).mouseleave(function(){-->
		    <!--$("#tooltip").remove();-->
	    <!--})-->
	<!--})-->
</script>
{% endblock %}
{# Read the documentation for more information #}
