{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header-content %}
<link rel="stylesheet" href="/static/css/ImageCompare.css">
<script src="/static/js/ImageCompare.js"></script>

<!-- bootstrap-table -->
<link href="/static/css/bootstrap-table.css" rel="stylesheet">
<script src="/static/js/bootstrap-table.js"></script>

{{ script|safe }}
{% endblock %}

{% block panel %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <form class="form-inline" method="get">
      <label class="my-1 mr-2">Img</label>
      <select id="version" class="custom-select my-1 mr-sm-2" name="img_version">
        <option selected>{{ selected.0 }}</option>
        {% for v in versions %}
        <option value="{{ v }}">{{ v }}</option>
        {% endfor %}
      </select>
        <select class="custom-select my-1 mr-sm-2" name="category">
        <option selected>{{ selected.1 }}</option>
        {% for r in resolutions %}
        <option value="{{ r }}">{{ r }}</option>
        {% endfor %}
      </select>
      <select id="number" class="custom-select my-1 mr-sm-2" name="number">
        <option selected>{{ selected.2 }}</option>
        {% for r in numbers %}
        <option value="{{ r }}">{{ r }}</option>
        {% endfor %}
      </select>

      <button id="new-submit" type="submit" class="btn btn-primary my-1" style="float:right;margin-right:10px;">Submit</button>
    </form>

      <form class="form-inline">
        <button class="btn btn-primary my-1"  style="float:right;margin-right:10px;" onclick="change_image('next')">下一张</button>
        <button class="btn btn-primary my-1" onclick="change_image('last')">上一张</button>
    </form>
  </div>
    <form class="form-inline my-lg-0">
        <button type="button" class="btn btn-primary" style="float:right;margin-right:10px;" data-toggle="collapse" data-target="#collapseExample1" aria-expanded="false" aria-controls="collapseExample">打分</button>
        <button type="button" class="btn btn-primary" style="float:right;margin-right:10px;" data-toggle="collapse" data-target="#collapseExample2" aria-expanded="false" aria-controls="collapseExample">查看</button>
        <a href="/api/export/?proj={{ img.project }}&ver={{ selected.0 }}">
        <button type="button" class="btn btn-primary">导出</button>
        </a>
    </form>
    <iframe id="rfFrame" name="rfFrame" src="about:blank" style="display:none;"></iframe>
</nav>
{% endblock %}


{% block content %}
{% if img %}
<div class="collapse" id="collapseExample2">
  <div class="panel blank-panel modal-body">
    <table width="40%" align="center">
      <tr>
        <td width="40%">
        <table data-toggle="table" data-url="/api/grade/{{ img.id }}?version={{ img.version}}&category={{ img.resolution }}" >
          <thead>
          <tr>
            <th data-field="date" data-sortable="true">
              <div class="th-inner">Time</div></th>
            <th data-field="dem1">
              <div class="th-inner">改进空间</div></th>
          </tr>
          </thead>
        </table>
        </td>
      </tr>
    </table>
  </div>
</div>
<div class="collapse" id="collapseExample1">
      <div class="modal-body">
          <div style="position: relative;left: 45%;">
        <form method="post" class="form">
          {% csrf_token %}
            <p><a href="#" data-toggle="tooltip" title="1-改进空间很大 2-改进空间一般 3-没有改进空间"><b>?</b></a>
                {{ form.dem1.label }}   {{ form.dem1.0 }}  {{ form.dem1.1 }}  {{form.dem1.2}}  {{ form.dem1.3 }}</p>
            <p><a href="#" data-toggle="tooltip"  title="评价"><b>?</b></a>
                {{ form.comment.label }}   {{ form.comment }}</p>
          {% buttons %}
          <button type="submit" class="btn btn-primary" name="img_id" value="{{ img.id }}">
            Submit
          </button>
          {% endbuttons %}
        </form>
          </div>
      </div>
</div>
{% endif %}

<!-- image -->
{% if img %}
<div style="position: relative;text-align: center;">
    <p><img src="{{ img.s3_url }}" /></p>
</div>
{% endif %}

<script>
    function change_image(txt){
        var se = document.getElementById("number");
        var index = se.selectedIndex;
        var value = se.options[index].value;
        var all_options = se.options;
        if (txt == 'next'){
            if (value == '20'){
                alert("已经是最后一张图了!");
            }else{
                for (i=0; i< all_options.length; i++){
                    if (all_options[i].value == String(Number(value) + 1)){
                        all_options[i].selected = true;
                    }
                }
                document.getElementById("new-submit").click();
            }
        }else{
            if (value == '1' || value == '01'){
                alert("已经是第一张图了!");
            }else{
                for (i=0; i< all_options.length; i++){
                    if (all_options[i].value == String(Number(value) - 1)){
                        all_options[i].selected = true;
                    }
                }
                document.getElementById("new-submit").click();
            }
        }
        document.forms[1].target="rfFrame";
    }
</script>
{% endblock %}
{# Read the documentation for more information #}
