{% extends 'base.html' %}
{% load bootstrap4 %}

{% block header-content %}
<link rel="stylesheet" href="/static/css/ImageCompare.css">
<script src="/static/js/ImageCompare.js"></script>

{{ script|safe }}
{% endblock %}


{% block panel %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <form class="form-inline" method="get">
      <label class="my-1 mr-2">图片1</label>
      <select id="platform1" onchange="change_version('1')" class="custom-select my-1 mr-sm-2" name="img1_platform">
        <option selected>{{ selected.0 }}</option>
          {% for p in platforms %}
        <option value="{{ p }}">{{ p }}</option>
          {% endfor %}
      </select>

      <select id="version1" onchange="change_resolution()" class="custom-select my-1 mr-sm-2" name="img1_version">
        <option selected>{{ selected.1 }}</option>
      </select>

      <label class="my-1 mr-2">图片2</label>
      <select id="platform2" onchange="change_version('2')" class="custom-select my-1 mr-sm-2" name="img2_platform">
        <option selected>{{ selected.2 }}</option>
          {% for p in platforms %}
        <option value="{{ p }}">{{ p }}</option>
          {% endfor %}
      </select>

      <select id="version2" class="custom-select my-1 mr-sm-2" name="img2_version">
        <option selected>{{ selected.3 }}</option>
      </select>

      <select id="resolution" class="custom-select my-1 mr-sm-2" name="resolution">
        <option selected>{{ selected.4 }}</option>
      </select>
      <select id="number" class="custom-select my-1 mr-sm-2" name="number">
        <option selected>{{ selected.5 }}</option>
        {% for r in numbers %}
        <option value="{{ r }}">{{ r }}</option>
        {% endfor %}
      </select>
      <button id="new-submit" type="submit" class="btn btn-primary my-1">Submit</button>
    </form>
  </div>
    <form class="form-inline my-lg-0">
        <button id="button-next" class="btn btn-primary" style="float:right;margin-right:10px;" onclick="change_image('next')">下一张</button>
        <button id="button-last" class="btn btn-primary" style="float:right;margin-right:50px;" onclick="change_image('last')">上一张</button>
    </form>
    <iframe id="rfFrame" name="rfFrame" src="about:blank" style="display:none;"></iframe>
</nav>
{% endblock %}

{% block content %}

<!-- image -->
{% if img2 %}
<span id="demo" data-type="image-comparison" src1="{{ img2.s3_url }}" src2="{{ img1.s3_url }}"></span>
<div style="float: right;margin-right: 70px;">
    <span id="ssim" style="font-size: 20px;color: red;"></span>
</div>
{% endif %}

<script>
	var imageComparisonContainers = $("[data-type='image-comparison']");
	imageComparisonContainers.each(function(){
        new ImageCompare($(this));
    });
</script>

<script>
    function change_image(txt){
        var se = document.getElementById("number");
        var index = se.selectedIndex;
        var value = se.options[index].value;
        var all_options = se.options;
        var next_button = document.getElementById('button-next');
        var last_button = document.getElementById('button-last');
        if (txt == 'next'){
            if (value == '20000'){
                alert("已经是最后一张图了!");
            }else{
                for (i=0; i< all_options.length; i++){
                    if (all_options[i].value == String(Number(value) + 1)){
                        all_options[i].selected = true;
                    }
                }
                document.getElementById("new-submit").click();
            }
        }else{
            if (value == '1' || value == '01'){
                alert("已经是第一张图了!");
            }else{
                for (i=0; i< all_options.length; i++){
                    if (all_options[i].value == String(Number(value) - 1)){
                        all_options[i].selected = true;
                    }
                }
                document.getElementById("new-submit").click();
            }
        }
        document.forms[1].target="rfFrame";
    }
</script>

<script>
    function change_version(txt){
        if (txt == '1'){
            var s1 = document.getElementById("platform1");
            var value = s1.options[s1.selectedIndex].value;
            var v = document.getElementById("version1");
        }else{
            var s2 = document.getElementById("platform2");
            var value = s2.options[s2.selectedIndex].value;
            var v = document.getElementById("version2");
        }
        var ul = "/api/version/?proj={{ project }}&plat="+value;
        if (value != 'Platform'){
            $.ajax({
                url: ul,
                type: "get",
                dataType: "json",
                success: function(data){
                    v.length = 0;
                    var option1 = document.createElement("option");
                    option1.name = "Version";
                    option1.innerHTML = "Version";
                    option1.value = "Version";
                    v.appendChild(option1);
                    for (var name in data.versions){
                        var option = document.createElement("option");
                        option.name = name;
                        option.innerHTML = name;
                        option.value = data.versions[name];
                        v.appendChild(option);
                    }
                }
            });
        }
    }

    function change_resolution(){
        var p = document.getElementById("platform1");
        var v = document.getElementById("version1");
        var r = document.getElementById("resolution");
        var platform = p.options[p.selectedIndex].value;
        var version = v.options[v.selectedIndex].value;
        var ul = "/api/resolution/?proj={{ project }}&plat="+platform+"&ver="+version;
        if (platform != 'Platform' && version != 'Version'){
            $.ajax({
                url: ul,
                type: "get",
                dataType: "json",
                success: function(data){
                    r.length = 0;
                    for (var name in data.resolutions){
                        var option = document.createElement("option");
                        option.name = name;
                        option.innerHTML = name;
                        option.value = data.resolutions[name];
                        r.appendChild(option);
                    }
                }
            });
        }
    }
</script>

<script>
    var p = document.getElementById("ssim");
    var ul = "/api/ssim?img1="+{{ img1.id }}+"&img2="+{{ img2.id }};
    $.ajax({
        url: ul,
        type: "get",
        dataType: "json",
        success: function(data){
            p.innerHTML = "SSIM值: "+data.ssim;
        },
        error: function(data){
            alert("error");
        },
    });
</script>
{% endblock %}
{# Read the documentation for more information #}
