{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block header-content %}

{{ script|safe }}
{% endblock %}

<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="collapse navbar-collapse">
    <form class="form-inline">
        {% for project in projects %}
        <a href="/{{ project }}">
        <button type="button" class="btn btn-primary" style="float:right;margin-right:50px">{{ project }}</button>
        </a>
        {% endfor %}
    </form>
  </div>
</nav>