<html>
{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block header-content %}
<link rel="stylesheet" href="/static/css/index-style.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<script src="/static/js/modernizr.js"></script>
<script src="/static/js/jquery-2.1.1.js"></script>
{{ script|safe }}
{% endblock %}
<head>
<style>
.navbar-collapse{
	background-color:#0b0c0c;
    	width: 100%;
    	min-width: 1024px;
    	height: 48px;
    	max-height: 44px;
        right: 0;
    	left: 0;
    	z-index: 9999;
    	//display: block;
    	margin: 0;
	font-size: 17px;
	padding-right: 20px;
	padding-left: 240px;
  

}
li a{
margin: 20px;
}
.ac-gn-link-text{
    color:#FFFFFF;

    //font-size: 1em;
    //font-family: inherit;
    //font-weight: inherit;
    //line-height: inherit;
    //text-align: inherit;
}
.main{
        top: 70;
	left: 300;
	right: 0;
	bottom: 0;
	margin: auto;
	position: absolute;
}
</style>
</head>

<!-- Navigation Bar -->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<body background="https://ks3-cn-beijing.ksyun.com/qa-vod/xiexiaoli-case/test008.gif" style=" background-repeat:no-repeat ; background-size:100% 100%; background-attachment: fixed;">
<nav class="navbar  navbar-expand-lg">
  <div  class="collapse navbar-collapse" >
	<li>
	<a href="/">
	<img src="https://ks3-cn-beijing.ksyun.com/qa-vod/xiexiaoli-case/%E9%87%91%E5%B1%B1%E4%BA%911logo.jpeg" height=30 width=40/>
	</a>
	</li>
	  <li class="dropdown">
                <a href="#" class="ac-gn-link ac-gn-link-support" data-toggle="dropdown">
                    <span class="ac-gn-link-text">KIE</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/cmp/AI-case/"><span class="">发布版本对比</span></a></li>
                    <li><a href="/cmp/Zhaidai_Project/">发布版本评测</a></li>
                    <li><a href="/cmp/Unpublished/">未发布版本评测</a></li>
                </ul>
            </li>
	  <li class="dropdown">
                <a href="#" class="ac-gn-link ac-gn-link-support" data-toggle="dropdown">
                    <span class="ac-gn-link-text">测试集评测</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/new/Mark/"><span class="">KIE测试集</span></a></li>
                    <li><a href="/new/Set/">DPED测试集</a></li>
                </ul>
            </li>
	  <li>
	<a class="ac-gn-link ac-gn-link-support" href="http://120.92.218.10:8223/diff2#" data-analytics-title="support">
	    <span class="ac-gn-link-text">视频评测</span>
	</a>
	</li>
      <li class="dropdown">
                <a href="#" class="ac-gn-link ac-gn-link-support" data-toggle="dropdown">
                    <span class="ac-gn-link-text">数据图表</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/chart/Zhaidai_Project/"><span class="">版本平均分</span></a></li>
                    <li><a href="/chart1/Zhaidai_Project/">单图多人评分</a></li>
                    <li><a href="/performance/AI-case/">性能数据展示</a></li>
                </ul>
            </li>
      <li class="dropdown">
                <a href="#" class="ac-gn-link ac-gn-link-support" data-toggle="dropdown">
                    <span class="ac-gn-link-text">上传</span>
                </a>
                <ul class="dropdown-menu">
                    <li><a href="/files/upload2"><span class="">上传图片</span></a></li>
                    <li><a href="/chart1/Zhaidai_Project/">上传视频</a></li>

                </ul>
            </li>
	<li>
	<a class="ac-gn-link ac-gn-link-support" href="/admin/cmp/image/" data-analytics-title="support">
		<span class="ac-gn-link-text">工具</span>
	</a>
	</li>
  </div>
</nav>
    <div class="main" >
	    <img src="https://ks3-cn-beijing.ksyun.com/qa-vod/xiexiaoli-case/test11.jpg" height=720 width=720/>	    
    </div>
</body>
</html>
