{# Load the tag library #}
{% load bootstrap4 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript jquery='full' %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

{% block header-content %}
<link rel="stylesheet" href="/static/css/ImageCompare.css">
<link rel="shortcut icon" type="image/x-icon" href="favicon.ico">
<script src="/static/js/modernizr.js"></script>
<script src="/static/js/jquery-2.1.1.js"></script>
<script src="/static/js/ImageCompare.js"></script>
<script src="/static/js/highcharts.js"></script>
<script src="http://cdn.hcharts.cn/highcharts/highcharts.js"></script>

<!-- 需要保存导出功能模块文件是在 highcharts.js 之后引入 -->
<script src="http://cdn.hcharts.cn/highcharts/modules/exporting.js"></script>

<!-- 客户端导出功能模块为可选选项 -->
<script src="http://cdn.hcharts.cn/highcharts/modules/offline-exporting.js"></script>
<!-- bootstrap-table -->
<link href="/static/css/bootstrap-table.css" rel="stylesheet">
<script src="/static/js/bootstrap-table.js"></script>

{{ script|safe }}
{% endblock %}
<head>
    <style>
.collapse1{
        background-color:#0b0c0c;
        width: 100%;
        min-width: 1024px;
        height: 48px;
        max-height: 44px;
        right: 0;
        left: 0;
        z-index: 9999;
        display: block;
        margin: 0;
        font-size: 17px;
        padding-right: 20px;
        padding-left: 240px;


}
li a{
margin: 20px;
}
.ac-gn-link-text{
    color:#FFFFFF;

     font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
}

    </style>
</head>

<nav class="navbar  navbar-expand-lg">
    <div class="collapse1 navbar-collapse">
        <li>
            <a href="http://10.100.51.45:8020/">
                <img src="https://ks3-cn-beijing.ksyun.com/qa-vod/xiexiaoli-case/%E9%87%91%E5%B1%B1%E4%BA%911logo.jpeg"
                     height=30 width=40/>
            </a>
        </li>
        <li class="ac-gn-item ac-gn-item-menu ac-gn-support">
            <a class="ac-gn-link ac-gn-link-support" href="http://10.100.51.45:8020/cmp/AI-case/"
               data-analytics-title="support">
                <span class="ac-gn-link-text">KIE</span>
            </a>
        </li>
        <li>
            <a class="ac-gn-link ac-gn-link-support" href="http://10.100.51.45:8020/cmp/Zhaidai_Project/"
               data-analytics-title="support">
                <span class="ac-gn-link-text">画质增强</span>
            </a>
        </li>
        <li>
            <a class="ac-gn-link ac-gn-link-support" href="http://10.100.51.45:8020/new/Mark/"
               data-analytics-title="support">
                <span class="ac-gn-link-text">训练集</span>
            </a>
        </li>
        <li>
            <a class="ac-gn-link ac-gn-link-support" href="http://120.92.218.10:8223/diff2#"
               data-analytics-title="support">
                <span class="ac-gn-link-text">窄带视频</span>
            </a>
        </li>
        <li>
            <a class="ac-gn-link ac-gn-link-support" href="http://10.100.51.45:8020/files/upload2"
               data-analytics-title="support">
                <span class="ac-gn-link-text">上传</span>
            </a>
        </li>
    </div>
</nav>
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="collapse navbar-collapse">
        <form class="form-inline" method="post" onsubmit="return checkform()">
            {% csrf_token %}
            <select id="platform" class="custom-select my-1 mr-sm-2 " name="img_platform">
                <!--<select id="platform" onchange="change_version()" class="custom-select my-1 mr-sm-2" name="img_platform">    -->
                <option selected>{{ selected.0 }}</option>
                {% for p in platforms %}
                <option value="{{ p }}">{{ p }}</option>
                {% endfor %}
            </select>
            <label class="form-check-label">版本：</label>
            {% for v in versions %}
            <label class="form-check-label">
                <div style="float:left;padding:0 5px;">
                    <input value="{{ v }}" type="checkbox" name="img_version"/>{{ v }}
                </div>
            </label><br>
            {% endfor %}
            <label class="form-check-label">机型：</label>
            <label class="form-check-label">
                <div style="float:left;padding:0 5px;">
                    <input value="iphone8_10.4" type="checkbox" name="phone"/>iphone8_10.4
                </div>
                <div style="float:left;padding:0 5px;">
                    <input value="iphone7_10.3" type="checkbox" name="phone"/>iphone7_10.3
                </div>
            </label>
            <button id="new-submit" type="submit" class="btn btn-primary my-1" >Submit</button>
        </form>
    </div>

    <iframe id="rfFrame" name="rfFrame" src="about:blank" style="display:none;"></iframe>
</nav>
<div id="container_time" style="width: 800px; height: 400px; margin: 0 auto"></div>
<div id="container_cpu" style="width: 800px; height: 400px; margin: 0 auto"></div>
<div id="container_mem" style="width: 800px; height: 400px; margin: 0 auto"></div>
<body>
<script>
    function change_version(){
        var s1 = document.getElementById("platform");
        var value = s1.options[s1.selectedIndex].value;
        var v = document.getElementById("version");
        var ul = "/api/version/?proj={{ project }}&plat="+value;
        if (value != '平台'){
            $.ajax({
                url: ul,
                type: "get",
                dataType: "json",
                success: function(data){
                    v.length = 0;
                    var option1 = document.createElement("option");
                    option1.name = "Version";
                    option1.innerHTML = "Version";
                    option1.value = "Version";
                    v.appendChild(option1);
                    for (var name in data.versions){
                        var option = document.createElement("option");
                        option.name = name;
                        option.innerHTML = name;
                        option.value = data.versions[name];
                        v.appendChild(option);
                    }
                }
            });
        }
    }
    function change_phone(){

        var s1 = document.getElementById("platform");
        var value = s1.options[s1.selectedIndex].value;
        var p = document.getElementById("phone");
        var ul = "/api/phone/?proj={{ project }}&plat="+value;
        if (value != 'Platform'){
            $.ajax({
                url: ul,
                type: "get",
                dataType: "json",
                success: function(data){
                    p.length = 0;
                    var option1 = document.createElement("option");
                    option1.name = "Phone";
                    option1.innerHTML = "Phone";
                    option1.value = "Phone";
                    p.appendChild(option1);
                    for (var name in data.phones){
                        var option = document.createElement("option");
                        option.name = name;
                        option.innerHTML = name;
                        option.value = data.phones[name];
                        p.appendChild(option);
                    }
                }
            });
        }
    }

</script>
<script type="text/javascript">
function checkform(){
    var v=document.getElementsByName('img_version');
    var p=document.getElementsByName('phone');
    console.log(v.length);
    if(v.length>1){
        layer.alert("选中个数有"+v.length);
        return false;
    }else{
    return true;
    }
}

</script>
<script type="text/javascript">
$(function () {
    $('#container_time').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: '处理时间(ms)'
        },
        xAxis: {
            categories: {{resolutions|safe}}
        },
        credits: {
            enabled: true
        },
        plotOptions: {
            column: {
                // 关于柱状图数据标签的详细配置参考：https://api.hcharts.cn/highcharts#plotOptions.column.dataLabels
                dataLabels: {
                    enabled: true,
                    // verticalAlign: 'top', // 竖直对齐方式，默认是 center
                    inside: true
                }
            }
        },
        series : {{time_series|safe}}

    });

    $('#container_cpu').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'CPU(%)'
        },
        xAxis: {
            categories: {{resolutions|safe}}
        },
        credits: {
            enabled: true
        },
        plotOptions: {
            column: {
                // 关于柱状图数据标签的详细配置参考：https://api.hcharts.cn/highcharts#plotOptions.column.dataLabels
                dataLabels: {
                    enabled: true,
                    // verticalAlign: 'top', // 竖直对齐方式，默认是 center
                    inside: true
                }
            }
        },
        series : {{cpu_series|safe}}
    });

    $('#container_mem').highcharts({
        chart: {
            type: 'column'
        },
        title: {
            text: 'MEM(Mb)'
        },
        xAxis: {
            categories: {{resolutions|safe}}
        },
        credits: {
            enabled: true
        },
        plotOptions: {
            column: {
                // 关于柱状图数据标签的详细配置参考：https://api.hcharts.cn/highcharts#plotOptions.column.dataLabels
                dataLabels: {
                    enabled: true,
                    // verticalAlign: 'top', // 竖直对齐方式，默认是 center
                    inside: true
                }
            }
        },
        series : {{mem_series|safe}}
    });
});

</script>
</body>
</html>