<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<p>批量上传图片并插入信息到数据库</p>
<form action="up"  method="post" enctype="multipart/form-data" >
    {% csrf_token %}
    是否重命名(图片名称前三位非数字时需要重命名)：
    <input type="radio" name="rename" value="1">是
    <input type="radio" name="rename" value="0">否<br>
    项目名称:
    <input type="radio" name="project" value="AI_Project">AI_Project
    <input type="radio" name="project" value="Zhaidai_Project">Zhaidai_Project
    <input type="radio" name="project" value="Mark">Mark<br>
    平台(Zhaidai_Project选填)：<input type="radio" name="platform" value="Android">Android
    <input type="radio" name="platform" value="Android">IOS
    <input type="radio" name="platform" value="Android">Server<br>
    版本：<input type="text" name="version"><br>
    <input type="submit" value="提交">

</form>

</body>
</html>