<!DOCTYPE html>
<head>
<style>
.navbar-collapse{
        background-color:#0b0c0c;
        width: 100%;
        min-width: 1024px;
        height: 48px;
        max-height: 44px;
        right: 0;
        left: 0;
        z-index: 9999;
        display: block;
        margin: 0;
        font-size: 17px;
        padding-right: 20px;
        padding-left: 240px;


}
li a{
margin: 20px;
}
.ac-gn-link-text{
    color:#FFFFFF;

     font-size: 1em;
    font-family: inherit;
    font-weight: inherit;
    line-height: inherit;
    text-align: inherit;
}
</style>
</head>
<!-- Navigation Bar -->
<!--<nav class="navbar navbar-expand-lg navbar-light bg-light">-->
<nav class="navbar  navbar-expand-lg">
  <div  class="collapse navbar-collapse" >
        <li>
	<a href="http://10.100.51.45:8020/">
        <img src="https://ks3-cn-beijing.ksyun.com/qa-vod/xiexiaoli-case/%E9%87%91%E5%B1%B1%E4%BA%911logo.jpeg" height=30 width=40/>
	</a>
        </li>
        <li class="ac-gn-item ac-gn-item-menu ac-gn-support">
        <a class="ac-gn-link ac-gn-link-support" href="http://10.100.51.45:8020/cmp/AI-case/" data-analytics-title="support">
            <span class="ac-gn-link-text">KIE</span>
        </a>
        </li>
        <li>
        <a class="ac-gn-link ac-gn-link-support" href="http://10.100.51.45:8020/cmp/Zhaidai_Project/" data-analytics-title="support">
            <span class="ac-gn-link-text">画质增强</span>
        </a>
        </li>
        <li>
        <a class="ac-gn-link ac-gn-link-support" href="http://10.100.51.45:8020/new/Mark/" data-analytics-title="support">
            <span class="ac-gn-link-text">训练集</span>
        </a>
        </li>
        <li>
        <a class="ac-gn-link ac-gn-link-support" href="http://120.92.218.10:8223/diff2#" data-analytics-title="support">
            <span class="ac-gn-link-text">窄带视频</span>
        </a>
        </li>
        <li>
        <a class="ac-gn-link ac-gn-link-support" href="http://10.100.51.45:8020/files/upload2" data-analytics-title="support">
            <span class="ac-gn-link-text">上传</span>
        </a>
        </li>
  </div>
</nav>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>文件上传</title>
    <!--引入CSS-->
<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/webuploader/0.1.1/webuploader.css">
<link rel="stylesheet" type="text/css" href="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/css/bootstrap.css">

<!--引入JS-->
<script type="text/javascript" src="https://cdn.staticfile.org/jquery/3.3.1/jquery.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/webuploader/0.1.1/webuploader.js"></script>
<script type="text/javascript" src="https://cdn.staticfile.org/twitter-bootstrap/4.1.3/js/bootstrap.js"></script>
</head>
<body>
<div id="uploader" class="wu-example">
    <!--用来存放文件信息-->
    <div id="thelist" class="uploader-list"></div>
    <div class="btns">
        <div id="picker">选择文件</div>
        <button id="ctlBtn" class="btn btn-default">开始上传</button>
    </div>
    <div class="progress">         <!-- 进度条 -->
            <div class="progress-bar progress-bar-striped active" role="progressbar" style="width:0%;"></div>
        </div>
    <a href="http://10.100.51.45:8020/up" class="btn btn-default"><button>点击跳转上传</button></a>
</div>
 <script type="text/javascript">
    $(document).ready(function() {
        var task_id = WebUploader.Base.guid();        //产生task_id
        var uploader = WebUploader.create({           //创建上传控件
            swf: 'https://cdn.staticfile.org/webuploader/0.1.1/Uploader.swf', //swf位置，这个可能与flash有关
            server: ''    ,                 //接收每一个分片的服务器地址
            pick: '#picker',                          //填上传按钮的id选择器值
            auto: true,                               //选择文件后，是否自动上传
            chunked: true,                            //是否分片
            chunkSize: 128 * 1024,              //每个分片的大小，这里为128K
            chunkRetry: 3,                            //某分片若上传失败，重试次数
            threads: 8,                               //线程数量，考虑到服务器，这里就选了1
            duplicate: true,                          //分片是否自动去重
            formData: {                               //每次上传分片，一起携带的数据
                task_id: task_id,
            },
        });

        uploader.on('startUpload', function() {       //开始上传时，调用该方法
            $('.progress-bar').css('width', '0%');
            $('.progress-bar').text('0%');
        });

        uploader.on('uploadProgress', function(file, percentage) { //一个分片上传成功后，调用该方法
            $('.progress-bar').css('width', percentage * 100 - 1 + '%');
            $('.progress-bar').text(Math.floor(percentage * 100 - 1) + '%');
        });

        uploader.on('uploadSuccess', function(file) { //整个文件的所有分片都上传成功，调用该方法
            //上传的信息（文件唯一标识符，文件名）
            var data = {'task_id': task_id, 'filename': file.source['name'] };
            $.get('/fileMerge/', data);          //ajax携带data向该url发请求
            $('.progress-bar').css('width', '100%');
            $('.progress-bar').text('上传完成');
        });

        uploader.on('uploadError', function(file) {   //上传过程中发生异常，调用该方法
            $('.progress-bar').css('width', '100%');
            $('.progress-bar').text('上传失败');
        });

        uploader.on('uploadComplete', function(file) {//上传结束，无论文件最终是否上传成功，该方法都会被调用
            $('.progress-bar').removeClass('active progress-bar-striped');
            <!--$.post('/up/', data);-->
            window.location.href='/up';
        });

    });

    function sleep(numberMillis) {  
     var now = new Date();  
     var exitTime = now.getTime() + numberMillis;   
    while (true) { 
        now = new Date();       
        if (now.getTime() > exitTime)
         return;    
        } 
    }
    </script>

</body>
</html>
