<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

</head>
<body>
<p>批量上传图片并插入信息到数据库</p>
<form action="upload"  method="post"  >
    {% csrf_token %}
    本地上次文件夹路径（写到分辨率上一层）：<input type="text" name="local_path"> <br>
    上传到的ks3路径（AI-case/要传到的文件夹）：<input type="text" name="ks3_path"> <br>
    项目名称（AI-case或Zhaidai-case）：<input type="text" name="project"> <br>
    平台：<input type="text" name="platform"> <br>
    版本：<input type="text" name="version"> <br>
    <input type="submit"  value="提交">
    </form>

<p>{{version}}</p>
</body>
</html>